<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

</head>
<body class="menu-pizza-body">
    <div class="menu-pizza-content">
        <div class="main-pizza-content">
            <img class="menu-pizza-small-logo" src="/images/small_logo.png" />
            <h1 class="menu-pizza-h1">Les Pizzas</h1>
            @RenderBody()
        </div>
        <div class="commande-client-tableau">
            <h1 class="commande-client-tableau-h1">Votre commande</h1>
            <div class="commande-client-tableau-content">
                <div class="commande-client-tableau-item">
                    <p>Pizza 1  Prix 13 € </p> <button>❌</button>
                </div>
                <div class="commande-client-tableau-item">
                    <p>Pizza 1  Prix 13 € </p> <button>❌</button>
                </div>
                <div class="commande-client-tableau-item">
                    <p>Pizza 1  Prix 13 € </p> <button>❌</button>
                </div>
                <div class="commande-client-tableau-item">
                    <p>Pizza 1  Prix 13 € </p> <button>❌</button>
                </div>
                <p class="">Prix Total : 32 €</p>
            </div>
           
            <div class="commande-client-div-button">
                <button class="commande-client-button">Aller au panier</button>
            </div>
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
