@model WebApplication2.Models.PizzaViewModel

<div class="edit-table-ingredient">
    <h2 class="edit-table-title">Liste d'ingrédients</h2>
    <table class="tableau">
        <tr>
            <th> Nom </th>
            <th>Prix</th>
            <th>Végétarien</th>
            <th>Ajouter</th>

        </tr>


        @foreach (var ingredient in Model.IngredientsDisponible)

        {
            <tr class="tr-condition-null">
                <td>@ingredient.Nom</td>
                <td>@ingredient.Prix €</td>
                <td>@ingredient.Vegetarien</td>

                <td>
                    <a href="@Url.Action("AddIngredientInANewPizza", "Pizza", new { PizzaId = 1000, IngredientId = ingredient.IngredientId })"> <button> + </button></a>
                    <a> <button> - </button></a>
                </td>
            </tr>

        }
        
    </table>
</div>

