@model WebApplication2.Models.Client
@{
    Layout = "~/Views/Shared/_LayoutHomePizza.cshtml";
}

<header class="header-client">
    <nav class="nav-bar-acceuil">
        <a class="nav-bar-acceuil-a" href="/Pizza">Page d'administration</a>
    </nav>
    <
</header>

<div class="redirect-menu-pizza">
    <img src="/images/main_logo.png" />
    <div class="redirect-menu-link">
        <a href="/Menu" class="link">Voir le menu</a>
    </div>

</div>
