@model WebApplication2.ViewModel.PizzaViewModel;


    ViewData["Title"] = "Create";
}


<hr />
<div class="create-pizza-container">
    <div>
        <h1>Creer votre pizza</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pizza.Nom" class="control-label"></label>
                <input asp-for="Pizza.Nom" class="form-control" />
                <span asp-validation-for="Pizza.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">     
          
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pizza.Vegetarienne" /> @Html.DisplayNameFor(model => model.Pizza.Vegetarienne)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajoutez vos ingredients" class="btn btn-primary"  />
            </div>
        </form>
        <div>
            <a asp-action="Edit">Back to List</a>
        </div>
    </div>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
