@model WebApplication2.ViewModel.CompteClient;

@{
    Layout = "~/Views/Shared/_LayoutMenuPizza.cshtml";

}
<div class="client-create-form" style="margin-top: 20px;">
    <h1>Connectez vous</h1>

    @using (Html.BeginForm("Login", "Compte", FormMethod.Post))

    {
        <div class="client-create-form-content">
            <div class="client-create-form-content-div">
                <label class="label-create-client">Email </label>
                @Html.TextBoxFor(model => model.Compte.Email, new { id = "tb-Email", type = "email", required = "required" })
            </div>
            <div class="client-create-form-content-div">
                <label class="label-create-client">Mot de passe</label>
                @Html.TextBoxFor(model => model.Compte.Password, new { id = "tb-Password", type = "password", required = "required" })
            </div>

        </div>

        <input class="btn-add-client" type="submit" value="Ajouter" />

    }
    <lable>@TempData["Error"]</lable>
    <p> <a href="@Url.Action("","Compte")">  Pas encore inscrit ? </a> </p>
</div>